html {
  height: 100%;
}

body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background-color: rgb(59, 37, 0);
  background-image: linear-gradient(0deg, rgba(59, 37, 0, 1) 0%, rgba(255, 211, 151, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

