html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgb(59, 37, 0);
  background: linear-gradient(
    0deg,
    rgba(59, 37, 0, 1) 0%,
    rgba(255, 211, 151, 1) 100%
  );
}
