.aboutus-container {
    padding: 40px;
    text-align: center;
}

.heading {
    margin-bottom: 32px;
}

.headQuote {
    padding: 16px;
    display: inline-block;
    background-color: white;
    font-family: comic sans ms;
    border-radius: 20px;
    box-shadow: 0 4px 6px 0 black;
}

.card-container {
    margin-bottom: 24px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #000;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}

.card-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 20px;
    transform: translateZ(40px);
}

.card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, -40px) rotateY(180deg);
    width: 85%;
    height: 87%;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #fff;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-body .bg {
    position: absolute;
    background: gray;
    border-radius: 100px;
    width: 0%;
    transition: .5s;
}

.card-body .bg:nth-child(1) {
    height: 25%;
    transform-origin: left;
    top: 0;
    left: -30%;
    transform: rotate(0deg);
}

.card-body .bg:nth-child(2) {
    height: 50%;
    transform-origin: right;
    top: 5%;
    right: -30%;
    transform: rotate(-10deg);
}

.card-body .bg:nth-child(3) {
    height: 50%;
    transform-origin: left;
    top: 70%;
    left: -30%;
    transform: rotate(-10deg);
}

.card:hover .card-body .bg {
    width: 200%;
    transition-delay: 1s;
}

.card:hover .card-body .bg:nth-child(2) {
    transition-delay: 1.5s;
}

.card:hover .card-body .bg:nth-child(3) {
    transition-delay: 2s;
}

.content {
    position: relative;
    opacity: 0;
    transition: .5s;
    padding: 40px 10px;
    text-align: center;
}

.name {
    font-size: 42px;
    margin-bottom: 20px;
    color: #292929;
}

.card:hover .content {
    opacity: 1;
    transition-delay: 2.5s;
}

.homeBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
  
.homeBtn:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  

@media (min-height: 900px) {
    .aboutus-container {
        padding: 100px;
    }

    .homeBtn {
        width: 240px;
        height: 60px;
        font-size: 24px;
    }

    .card-container {
        margin-bottom: 60px;
    }
}